[submodule "proyecto_app"]
	path = proyecto_app
	url = https://github.com/IvanL2003/proyecto_v1_0.git
[submodule "AsistenteTIC"]
	path = AsistenteTIC
	url = https://github.com/Alex-SM98/AsistenteTIC.git
